<h1>F1 Teams</h1>

<div style="display: flex; gap: 40px; margin-bottom: 20px; width: 100%; ", class="row">
{% for team in teams %}
  <div style="margin-bottom: 30px;", class="col-md-2">
    {% if team.image %}
      <img src="{{ team.image.url }}" width="200"><br>
    {% endif %}
    <strong>{{ team.name }}</strong> – {{ team.country }} (<Created></Created> {{ team.founded_year }})
  </div>
{% endfor %}
  </div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<a href="{% url 'index' %}">Back</a>
